{% extends "layout.html" %}

{% block title %} Robass Tweet Center {% endblock %}

{% block content %}
    
            <h1 class="text-center text-light">Robass Tweet App</h1>
      
          
            
            <a href="{% url 'create_tweet' %}" class="btn btn-primary md-4">Create Tweet</a>

            <div class="container row gap-3 mt-3">
                {% for tweet in tweets %}
                <div class="card" style="width: 18rem;">
                    {% if tweet.photo %}
                    <img src="{{ tweet.photo.url }}" class="card-img-top" alt="..." style="width: 250px; height: 250px;">

                    {% else %}
                        <img src="/path/to/default/image.jpg" class="card-img-top" alt="No Image Available">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title text-dark">{{ tweet.user.username }}</h5>
                        <p class="card-text text-dark">{{ tweet.text }}</p>
                        {% if tweet.user == user %}
                        <a href="{% url 'edit_tweet' tweet.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete_tweet' tweet.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
          
    </div>
{% endblock %}
